/* TODO: Remove background colors on parent div(s) */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin: 20px;
}

header {
    min-height: 100px;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.map-weather {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.google-maps {
    width: 60%;
}

.weather {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.weather-item:nth-child(1) {
    background-color: darkorange;
    order: 1;
    flex: 1;
    margin-bottom: 5px;
}

.weather-item:nth-child(2) {
    background-color: powderblue;
    order: 2;
    flex: 1;
    margin-bottom: 5px;

}

.weather-item:nth-child(3) {
    background-color: blueviolet;
    order: 3;
    flex: 1;
}

#five-days-forecast {
    display: flex;
    flex-direction: row;
    height: 20px;
}

.forecast-item:nth-child(1) {
    background-color: deepskyblue;
    flex: 1;
}

.forecast-item:nth-child(2) {
    background-color: salmon;
    flex: 1;
}

.forecast-item:nth-child(3) {
    background-color: deepskyblue;
    flex: 1;
}

.forecast-item:nth-child(4) {
    background-color: salmon;
    flex: 1;
}

.forecast-item:nth-child(5) {
    background-color: deepskyblue;
    flex: 1;
}

.graphs {
    margin-top: 5px;
    height: calc(250px * 6);
    display: flex;
    flex-wrap: wrap;
}

.graphs > * {
    flex-basis: calc(100% / 2);
    box-sizing: border-box;
}

.graph-item:nth-child(1) {

    background-color: green;
    order: 1;
}

.graph-item:nth-child(2) {

    background-color: beige;
    order: 2;

}

.graph-item:nth-child(3) {

    background-color: cyan;
    order: 3;

}

.graph-item:nth-child(4) {

    background-color: magenta;
    order: 4;

}

.graph-item:nth-child(5) {

    background-color: lavenderblush;
    order: 5;

}

.graph-item:nth-child(6) {

    background-color: deepskyblue;
    order: 6;

}

/* Responsive layout for mobile browsers
   Orders the div(s) as a stack
*/

@media screen and (max-device-width: 572px) {

    .map-weather {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .google-maps {
        order: 2;
        width: auto;
        height: 480px;
        margin-top: 5px;
    }

    .weather {
        order: 1;
        width: inherit;
        height: 300px;
    }

    .graphs {
        order: 3;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
