/* TODO: Remove background colors on parent div(s) */
/* TODO: Display 2 graphs in a row for landscape orientation(Max-width: 374px)*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0.5%;
}

/* Navigation Bar */

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: white;
}

#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(148, 157, 194, 1);
    border-width: 2px;
    border-radius: 4px;
    margin: 0.5%;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 194, 194, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(247, 247, 247, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(0, 194, 194, 1);
    background-color: rgba(231, 231, 231, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #949dc2;
}

/* End of Nav Bar */

header {
    min-height: 100px;
    background-color: lavender;
    margin: -0.5% 0.5% 0.5%;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 0 0.5%;

}

.map-weather {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 750px;
}

#map {
    width: 70%;
    order: 1;
}

.ship-info-table-th {
    font-weight: bold;
    text-align: center;
    color: red;
    font-size: large;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.ship-info-table-property {
    font-weight: bold;
    font-size: small;
}

#weather {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    order: 2;
}

#current-weather {
    order: 1;
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: solid 2px white;
}

#date_time {
    flex: 1;
    margin: auto;
    align-content: center;
}

#date_time p {
    font-size: 125%;
    font-weight: bold;
}

#current-condition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 4;
    overflow-y: auto;
}

#current-condition-icon {
    order: 2;
    flex: 1;
    display: flex;
}

#current-condition-icon img {
    margin: auto;
}

#current-condition-info {
    order: 3;
    flex: 1;
    margin: auto;
    align-items: center;
}

#current-condition-info p {
    text-align: center;
    font-size: medium;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#current-condition-temp {
    order: 1;
    flex: 1;
    margin: auto;
}

#current-condition-temp p {
    font-size: 400%;
    font-weight: bolder;
    color: darkblue;
    text-align: center;
}

#five-days-forecast {
    order: 2;
    flex: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 194, 194, 1);
    overflow-y: auto;
}

.forecast-item {
    flex: 1;
    flex-basis: calc(50% - (2 * 2px));
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.forecast-item-info {
    flex: 5;
    order: 2;
    font-size: small;
    margin: auto;
    text-align: center;
}

.forecast-item-info p:nth-child(1) {
    font-weight: bold;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.forecast-item-icon {
    flex: 4;
    order: 1;
    margin: auto;
}

#bokeh-graph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
}

.bk-root {
    max-width: 720px;
    max-height: 650px;
}

/*
    Responsive layout for mobile browsers
*/

/*@media only screen and (min-width: 750px) {}*/

/*@media only screen and (min-width: 1280px) {}*/

/*@media only screen and (max-width: 990px) and (min-width: 750px) {}*/