/* TODO: Remove background colors on parent div(s) */
/* TODO: Display 2 graphs in a row for landscape orientation(Max-width: 374px)*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin: 0.5%;
}

header {
    min-height: 100px;
    background-color: lavender;
    margin: -0.5% 0.5% 0.5%;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 0 0.5%;

}

.map-weather {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.google-maps {
    width: 50%;
}

.weather {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.weather-item:nth-child(1) {
    order: 1;
    flex: 1;
    margin-bottom: 0.5%;
    background-color: orangered;

}

.weather-item:nth-child(2) {
    background-color: powderblue;
    order: 2;
    flex: 3;
}

#date_time {
    background-color: white;
    height: 40%;
    font-size: large;
}

.five-days-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

.five-days-forecast > * {
    flex-basis: calc(100% / 2);
}

.forecast-item:nth-child(1) {
    background-color: inherit;
}

.forecast-item:nth-child(2) {
    background-color: white;
}

.forecast-item:nth-child(3) {
    background-color: lightskyblue;
}

.forecast-item:nth-child(4) {
    background-color: midnightblue;
}

.forecast-item:nth-child(5) {
    background-color: grey;
}

.graphs {
    height: calc(250px * 6);
    display: flex;
    flex-wrap: wrap;

}

.graph-item {
    flex: 1;
    margin: 0.5%;
    flex-basis: calc(50% - (2 * 0.5%));
}

.graph-item:nth-child(1) {

    background-color: green;
    order: 1;
}

.graph-item:nth-child(2) {

    background-color: beige;
    order: 2;

}

.graph-item:nth-child(3) {

    background-color: cyan;
    order: 3;

}

.graph-item:nth-child(4) {

    background-color: magenta;
    order: 4;

}

.graph-item:nth-child(5) {

    background-color: lavenderblush;
    order: 5;

}

.graph-item:nth-child(6) {

    background-color: deepskyblue;
    order: 6;

}

/* Responsive layout for mobile browsers
   Orders the div(s) as a stack
*/

@media screen and (max-device-width: 667px) {
    .map-weather {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .google-maps {
        order: 2;
        width: auto;
        height: 480px;
        margin-top: 5px;
    }

    .weather {
        order: 1;
        width: inherit;
        height: 400px;
    }

    .graphs {
        order: 3;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: calc(100% / 2);
        max-height: 736px;
    }

}

@media screen and (max-width: 420px) {

    .map-weather {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .google-maps {
        order: 2;
        width: auto;
        height: 480px;
        margin-top: 5px;
    }

    .weather {
        order: 1;
        width: inherit;
        height: 400px;
    }

    .graphs {
        order: 3;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .graphs > * {
        flex-basis: calc(100% / 2);
    }
}
