<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <title>CCBayNav</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicon/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flexboxgrid.css') }}">

</head>
<body>
<header>
    <h1>Corpus Christi Bay Navigation Tools Demo</h1>
</header>
<div class="main-content">
    <div class="map-weather">
        <div id="map" class="google-maps"></div>
        <div class="weather">
            <div class="weather-item">
                <p>Current Weather Info</p>
            </div>
            <div class="weather-item" id="five-days-forecast">
                <div class="forecast-item">
                    <p>Day 1</p>
                    <img src="../static/media/weathericon/0.png">
                </div>
                <div class="forecast-item">
                    <img src="../static/media/weathericon/0.png">

                    <p>Day 2</p>
                </div>
                <div class="forecast-item">
                    <img src="../static/media/weathericon/0.png">

                    <p>Day 3</p>
                </div>
                <div class="forecast-item">
                    <img src="../static/media/weathericon/0.png">
                    <p>Day 4</p>
                </div>
                <div class="forecast-item">
                    <img src="../static/media/weathericon/0.png">

                    <p>Day 5</p>
                </div>
            </div>
            <div class="weather-item"><p>Other Available Info</p></div>
        </div>
    </div>
</div>
</div>
</div>
<div class="graphs">
    <div class="graph-item">
        <p>Graph 1</p>
    </div>
    <div class="graph-item">
        <p>Graph 2</p>
    </div>
    <div class="graph-item">
        <p>Graph 3</p>
    </div>
    <div class="graph-item">
        <p>Graph 4</p>
    </div>
    <div class="graph-item">
        <p>Graph 5</p>
    </div>
    <div class="graph-item">
        <p>Graph 6</p>
    </div>
</div>
</div>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDViVVYzVGMltfF0nyNXbr8a7uSS3lggro&callback=initMap">
</script>
</body>
</html>